*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.homepage{
    display: flex;
}

/* épisodes */


.episode1, .episode2, .episode3, .episode4, .bonus{
    width: 260px;
    height: 290px;
}




.episode1{
    position: fixed;
    top: 275px;
    left: 72px;


}

.episode1:hover{
    transform: rotate(10deg);
    animation-duration: 1s;
    cursor: pointer;
}

.episode2{
    position: fixed;
    top: 59px;
    left: 513px;


}

.episode2:hover{
    transform: rotate(-10deg);
    animation-duration: 1s;
    cursor: pointer;


}

.episode3{
    position: fixed;
    right: 20%;
    top: 263px


}
.episode3:hover{
    transform: rotate(10deg);
    animation-duration: 1s;
    cursor: pointer;


}

.episode4{
    position: fixed;
    right: 4%;
    top: 136px;

}

.episode4:hover{
    transform: rotate(-10deg);
    animation-delay: 3s;
    cursor: pointer;

}
/* Annexes */

.bonus, .sources, .medias, .histoire{
    width : 180px;
    height: 223px;
}

.bonus{
    position: fixed;
    bottom : 40px;
    left: 930px;
}

.bonus:hover{
   transform: scale(1.2);
   cursor: pointer;
}

.sources{
    position: fixed;
    top : 497px;
    left: 406px;
    width: 240px;
    height: 200px;
}
.sources:hover{
    transform: scale(1.2);
    cursor: pointer;
 }




.histoire{
    position: fixed;
    top : 503px;
    left: 1354px;
    width: 250px;
    height: 250px;
}
.histoire:hover{
    transform: scale(1.2);
    cursor: pointer;
 }

/* illus */
.map{
    position: fixed;
    height: 1040px;
    z-index: -1;
}

.trinquer{
    position: fixed;
    top : 379px;
    left: 584px;
}

.apero{
    position : fixed;
    top: 220px;
    left: 255px;
    transform: rotate(-40deg);

    

}
.apero2{
    position : fixed;
    top: 330px;
    left: 315px;

}

.vin{
    position: fixed;
    top: 79px;
    left: 773px;

}

.vin2{
    position: fixed;
    top: 199px;
    left: 733px;
    transform: rotate(40deg);


}
.digestif{
    position: fixed;
    right: 35%;
    top: 332px
}

.digestif2{
    position: fixed;
    right: 33%;
    top: 440px;
    transform: rotate(-60deg);

}



.irish_coffee{
    position: fixed;
    top: 150px;
    right: 17%;
}

.irish_coffee2{
    position: fixed;
    top: 250px;
    right: 18%;
    transform: rotate(60deg);

}

.university {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.les_episodes{
    position: fixed;
    left: 975px;
    top: 100px
}

.lire_episodes{
    position: fixed;
    top: 20px;
    left: 20px;
}

.annexes {
    position: fixed;
    top : 730px;
    left: 700px;
}

.introduction{
    position: fixed;
    top: 10px;
    right: 10px;
}


/* déco */

.etoile {
    position: fixed;
    top : 550px;
    left: 20px;
    transform: rotate(-40deg);

}

.etoile2 {
    position: fixed;
    top : 550px;
    left: 1000px;
}
.etoile3{
    position: fixed;
    top : 550px;
    left: 1520px;
    transform: rotate(-40deg);
}

.valise {
    position: fixed;
    top : 550px;
    left: 310px;
}

.biere {
    position: fixed;
    top : 550px;
    left: 1220px;
}

.exclamation {
    position: fixed;
    top : 490px;
    left: 900px;
}

.exclamation2 {
    position: fixed;
    top : 730px;
    left: 1200px;
}

.vague {
    position: fixed;
    top : 780px;
    left: 300px;
}



