*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.homepage{
    display: flex;
}


.episode1, .episode2, .episode3, .episode4, .bonus{
    width: 325px;
    height: 350px;
}


.episode1{
    transform: rotate(350deg);
    position: fixed;
    top: 2%;
    left: 4%;


}

.episode1:hover{
    transform: rotate(0deg);
    animation-duration: 1s;
    cursor: pointer;
}

.episode2{
    transform: rotate(10deg);
    position: fixed;
    top: 50%;
    left: 20%;


}

.episode2:hover{
    transform: rotate(0deg);
    animation-duration: 1s;
    cursor: pointer;


}

.episode3{
    position: fixed;
    transform: rotate(350deg);
    left: 40%;
    top: 10%;


}
.episode3:hover{
    transform: rotate(0deg);
    animation-duration: 1s;
    cursor: pointer;


}

.episode4{
    position: fixed;
    transform: rotate(10deg);
    left: 60%;
    top: 50%;

}

.episode4:hover{
    transform: rotate(0deg);
    animation-delay: 3s;
    cursor: pointer;

}

.bonus{
    position: fixed;
    left: 80%;
    transform: rotate(10deg);


}

.bonus:hover{
    transform: rotate(0deg);
    animation-delay: 3s;
    cursor: pointer;

}


